
  <% if match.count > 0 %>
    
    <% match.in_groups_of(3, false) do |group| %>
      <div class="col-md-12">
        <div class="row">
          <% group.each do |m| %>
            <div class="col-md-4" style=""> 
              <div>    
                <%= link_to (image_tag m.avatar.url(), :style => "height:150px; width:150px; display:block; margin:auto;" ), event_path(m) %>
                <strong><h4 style="text-align:center"><%= m.name %></h4></strong>
              </div>     
            </div>
          <% end %>
        </div>
      </div>
    <% end %>

  <% else %>

    <div class="col-md-12">
      <div class="row">
        <div class=".col-md-4">
          <h3>No Matches Found</h3>
          <br/>
        </div>
      </div>
    </div>

  <% end %>

  <% flash.now[:notice] = "We found #{match.count} event(s)" %>