
  <% match.each do |m| %>
  <div class="col-sm-4">
    <div class="row">
    <%= m.name %>
    </div>
    <div class="">
    <%= link_to (image_tag m.avatar.url(), :style => "height:180px;" ), event_path(m) %>
    </div>
  </div>
  <% end %>
