<% provide(:title, 'About Us') %>

<body class="about">
  
  <div class="intro" id="top-of-page">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="section-heading">About us</h1>
              <p class="fill-text">Our vision is to use technology to make volunteering within communities easier, safer and more social!</p>
                <a href="#history" class="btn btn-default btn-lg" onclick="$('#history').animatescroll({scrollSpeed:2000,easing:'swing'});">History</a>
                <a href="#team" class="btn btn-default btn-lg" onclick="$('#team').animatescroll({scrollSpeed:2000,easing:'swing'});">Meet the Team</a>
                <a href="#contact" class="btn btn-default btn-lg" onclick="$('#contact').animatescroll({scrollSpeed:2000,easing:'swing'});">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="history" id="history">
    <div class="history-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="section-heading">History</h1>
              <p class="fill-text">We share a vision that there is the willingness amongst the youth of today to make a tangible contribution to the world by volunteering for social causes.
That being said find many find it difficult to filter and identify attractive, feasible volunteering opportunities. One of the many reasons for this difficulty is that most opportunities advertised have long term time commitments and are presented as ”holiday volunteering” opportunities. Prospective volunteers have to commit to an extended block period and often times have to pay in order to do so. Give your effort is a volunteering platform developed with end-user in mind.</p>
        <br>    
        <a href="#top-of-page" class="btn btn-circle" onclick="$('#top-of-page').animatescroll({scrollSpeed:2000,easing:'easeOutBack'});">
        <i class="fa fa-angle-double-up animated"></i>
        </a>
          </div>
        </div>
      </div>
    </div>
  </div>


    <div class="team" id="team">
      <div class="team-body">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="section-heading">Meet the Team</h1>
              <br><br>
            </div>
          </div>

           <div class="row">
             <div class="col-md-3">
                <div class="t-member">
                  <h2 class="section-heading">Micaela Illy</h2>
                  <%= image_tag "about/micaela.jpg", size: '100x100', class: 'img-circle', style: 'position: relative; border-radius: 50px; margin-bottom: 20px;' %>
                    <p style="text-align: justify;"> "Micaela is the CEO and one of the Co-founders of GiveYourEffort. Her aspiration is to establish a clear connection between human morality and entrepreneurship, especially in the areas of sustainability and volunteering, and ultimately build a business focused on making a positive contribution to the society. GiveYourEffort is the first step of her master plan.
She has holds a BSc in Biology with Management at Imperial College London. A profound believer in multiculturalism and global citizenship, Micaela worked within her family firm in Hong Kong, Paris, and London, and completed internships with KPMG and BCG in London."</p>
                </div>
             </div>
             <div class="col-md-3">
                <div class="t-member">
                  <h2 class="section-heading">Andrea Calabro</h2>
                  <%= image_tag "about/andrea.jpg", size: '100x100', class: 'img-circle', style:' position: relative; border-radius: 50px; margin-bottom: 20px;' %>
                    <p style="text-align: justify;"> "Andrea is the COO and one of the Co-founders of GiveYourEffort. With startup experience already and student jobs in advertising research and charity work he has the perfect mix of skills to lead GiveYourEffort to make a large impact in the volunteering space. 
He has holds a BSc in Business Economics from University of Venice and a MSc in International Management from LSE. He is interested in Economics and Politics as well as in everything related to food and culinary arts. A enthusiastic sportsman and teamplayer, Andrea worked for J.P. Morgan in London and Milan, and completed internships with RocketInternet and FOREX in London."</p>
                </div>
             </div>
             <div class="col-md-3">
                <div class="t-member">
                  <h2 class="section-heading">Luca De Guisti</h2>
                        <%= image_tag "about/luca.jpg", size: '100x100', class: 'img-circle', style:'position: relative; border-radius: 50px; margin-bottom: 20px;' %>
                    <p style="text-align: justify;"> "Luca is Head of Marketing at GiveYourEffort and co-founded the company in 2014. He oversees marketing, the diversity of our work, from project managing large events to leading on impactful campaigns to shine a spotlight on the amazing benefits of volunteering. He is interested in developing countries. 
Luca has earned a Bsc in Economics from University of Venice and completed a Msc in International Management at LSE. He has done internships in both Italy and China, and always tried to fulfill a passion for entrepreneurship by working on start-up projects and by founding the first financial club at his alma mater."</p>
                </div>
             </div>
             <div class="col-md-3">
                <div class="t-member">
                  <h2 class="section-heading">Davide Vidotto</h2>
                  <%= image_tag "about/davide.jpg", size: '100x100', class: 'img-circle', style:'position: relative; border-radius: 50px; margin-bottom: 20px;' %>
                    <p style="text-align: justify;"> "Davide is CFO and the part of the Co-founder team of GiveYourEffort. As passionate ex-consultant, Davide was exposed to challenging finance project in his everyday life. Interested in everything charity related, both in Italy and other countries, he takes on every opportunity to apply his skills to bring positive change in the communities he is involved in. He has worked on projects involving access to healthcare and education in Ethiopia and the Caribbean, as well as being involved with a start-up connecting students with the business world. He holds a BSc in Economics from University of Venice and a MSc in Management from the LSE. "</p>
                </div>
             </div>

        </div>
           <br>    
           <a href="#top-of-page" class="btn btn-circle" onclick="$('#top-of-page').animatescroll({scrollSpeed:2000,easing:'easeOutBack'});">
           <i class="fa fa-angle-double-up animated"></i>
           </a>
      </div>
    </div>
   </div>

  
  <div class="contact" id="contact">
    <div class="contact-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="section-heading">Contact Us</h1>
            <br><br>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="padding: 50px;">
                    <h5>Fill in the form below to email us. Please give us up to five working days to look into your query and get back to you.</h5> 
                    <br>
                    <form class="form-horizontal" id="registration-form">
                      <div class="form-group">
                        <label class="col-sm-2 control-label" for="firstname" 
                             style="text-align:left">First Name *</label>
                        <div class="controls">
                          <input type="text" class="col-sm-9" id="firstname" name="firstname">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-2 control-label" for="lastname" 
                             style="text-align:left">Last Name *</label>
                        <div class="controls">
                          <input type="text" class="col-sm-9" id="lastname" name="lastname">
                        </div>
                      </div>	

                      <div class="form-group">
                        <label class="col-sm-2 control-label" for="email" 
                             style="text-align:left">Email address *</label>
                        <div class="controls">
                          <input type="text" class="col-sm-9" id="email" name="email">
                        </div>
                      </div>	

                      <div class="form-group">
                        <label class="col-sm-2 control-label" for="topic"
                             style="text-align:left">Topic *</label>
                        <div class="controls">
                          <input type="text" class="col-sm-9" id="topic" name="topic">
                        </div>
                      </div>	

                      <div class="form-group">
                        <label class="col-sm-2 control-label" for="message"
                             style="text-align:left">Message *</label>
                        <div class="controls">
                          <textarea class="col-sm-9" rows="5" id="comment" name="comment"></textarea>
                        </div>
                      </div>	

                      <div class="form-actions">
                        <button type="submit" class="btn btn-default btn-lg pull-right" style="text-align: right; margin: 0 80px;">Submit</button>
                      </div>								
                    </form>
                  </th>
                </tr>
              </thead>
          </table>
           <br>    
           <a href="#top-of-page" class="btn btn-circle" onclick="$('#top-of-page').animatescroll({scrollSpeed:2000,easing:'easeOutBack'});">
           <i class="fa fa-angle-double-up animated"></i>
           </a>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------->
   
</body>

