<% provide(:title, 'About Us') %>


<body class="about">
  
  <div class="intro" id="top-of-page">
    <div class="intro-body">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            <h1 class="section-heading">About us</h1>
              <p class="fill-text">Our vision is to use technology to make volunteering within communities easier, safer and more social!</p>
                <a href="#history" class="btn btn-default btn-lg" onclick="$('#history').animatescroll({scrollSpeed:2000,easing:'swing'});">History</a>
                <a href="#team" class="btn btn-default btn-lg" onclick="$('#team').animatescroll({scrollSpeed:2000,easing:'swing'});">Meet the Team</a>
                <a href="#contact" class="btn btn-default btn-lg" onclick="$('#contact').animatescroll({scrollSpeed:2000,easing:'swing'});">Contact Us</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="history" id="history">
    <div class="history-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="section-heading">History</h1>
              <p class="fill-text">We share a vision that there is the willingness amongst the youth of today to make a tangible contribution to the world by volunteering for social causes.
That being said find many find it difficult to filter and identify attractive, feasible volunteering opportunities. One of the many reasons for this difficulty is that most opportunities advertised have long term time commitments and are presented as ”holiday volunteering” opportunities. Prospective volunteers have to commit to an extended block period and often times have to pay in order to do so. Give your effort is a volunteering platform developed with end-user in mind.</p>
        <br>    
        <a href="#top-of-page" class="btn btn-circle" onclick="$('#top-of-page').animatescroll({scrollSpeed:2000,easing:'easeOutBack'});">
        <i class="fa fa-angle-double-up animated"></i>
        </a>
          </div>
        </div>
      </div>
    </div>
  </div>


    <div class="team" id="team">
      <div class="team-body">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="section-heading">Meet the Team</h1>
              <br><br>
            </div>
          </div>

           <div class="row">       
             <div class="col-md-3">
                <div class="t-member">
                  <h2 class="section-heading">One</h2>
                   <img src="https://img-w.zeebox.com/images/profile/generic/Empty_Profile_01.png:small" style="width:100px; height:100px; padding: 5px; margin: 1px; border-radius: 50px;">
                    <p style="text-align: justify;"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                </div>
             </div>
             <div class="col-md-3">
                <div class="t-member">
                  <h2 class="section-heading">Two</h2>
                    <img src="https://img-w.zeebox.com/images/profile/generic/Empty_Profile_02.png:small" style="width:100px; height:100px; padding: 5px; margin: 1px; border-radius: 50px;">
                    <p style="text-align: justify;"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                </div>
             </div>
             <div class="col-md-3">
                <div class="t-member">
                  <h2 class="section-heading">Three</h2>
                    <img src="https://img-w.zeebox.com/images/profile/generic/Empty_Profile_03.png:small" style="width:100px; height:100px; padding: 5px; margin: 1px; border-radius: 50px;">
                    <p style="text-align: justify;"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                </div>
             </div>
             <div class="col-md-3">
                <div class="t-member">
                  <h2 class="section-heading">Four</h2>
                    <img src="https://img-w.zeebox.com/images/profile/generic/Empty_Profile_04.png:small" style="width:100px; height:100px; padding: 5px; margin: 1px; border-radius: 50px;">
                    <p style="text-align: justify;"> "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                </div>
             </div>

        </div>
           <br>    
           <a href="#top-of-page" class="btn btn-circle" onclick="$('#top-of-page').animatescroll({scrollSpeed:2000,easing:'easeOutBack'});">
           <i class="fa fa-angle-double-up animated"></i>
           </a>
      </div>
    </div>
   </div>

  
  <div class="contact" id="contact">
    <div class="contact-body">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 class="section-heading">Contact Us</h1>
            <br><br>
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th style="padding: 50px;">
                    <h5>Fill in the form below to email us. Please give us up to five working days to look into your query and get back to you.</h5> 
                    <br>
                    <form class="form-horizontal" id="registration-form">
                      <div class="form-group">
                        <label class="col-sm-2 control-label" for="firstname" 
                             style="text-align:left">First Name *</label>
                        <div class="controls">
                          <input type="text" class="col-sm-9" id="firstname" name="firstname">
                        </div>
                      </div>

                      <div class="form-group">
                        <label class="col-sm-2 control-label" for="lastname" 
                             style="text-align:left">Last Name *</label>
                        <div class="controls">
                          <input type="text" class="col-sm-9" id="lastname" name="lastname">
                        </div>
                      </div>	

                      <div class="form-group">
                        <label class="col-sm-2 control-label" for="email" 
                             style="text-align:left">Email address *</label>
                        <div class="controls">
                          <input type="text" class="col-sm-9" id="email" name="email">
                        </div>
                      </div>	

                      <div class="form-group">
                        <label class="col-sm-2 control-label" for="topic"
                             style="text-align:left">Topic *</label>
                        <div class="controls">
                          <input type="text" class="col-sm-9" id="topic" name="topic">
                        </div>
                      </div>	

                      <div class="form-group">
                        <label class="col-sm-2 control-label" for="message"
                             style="text-align:left">Message *</label>
                        <div class="controls">
                          <textarea class="col-sm-9" rows="5" id="comment" name="comment"></textarea>
                        </div>
                      </div>	

                      <div class="form-actions">
                        <button type="submit" class="btn btn-default btn-lg pull-right" style="text-align: right; margin: 0 80px;">Submit</button>
                      </div>								
                    </form>
                  </th>
                </tr>
              </thead>
          </table>
           <br>    
           <a href="#top-of-page" class="btn btn-circle" onclick="$('#top-of-page').animatescroll({scrollSpeed:2000,easing:'easeOutBack'});">
           <i class="fa fa-angle-double-up animated"></i>
           </a>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  <!------------------------------------->
   
</body>

