<% provide(:title, 'Events') %>

<br>
<br> 

<body class="event">

<div class="dropdownbarbox">
    	<div class="container">
          <div class="dropdownbox_des">
 				    <h3> Find Your Way to Make a Change </h3> 
				     <h4> Wherever you like. Find your match! </h4>
         	</div>
      </div>

      <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Location <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">option1</a></li>
                <li><a href="#">option2</a></li>
                <li><a href="#">option2</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">What <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">option1</a></li>
                <li><a href="#">option2</a></li>
                <li><a href="#">option2</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">When <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">option1</a></li>
                <li><a href="#">option2</a></li>
                <li><a href="#">option2</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Length <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">option1</a></li>
                <li><a href="#">option2</a></li>
                <li><a href="#">option2</a></li>
            </ul>
        </div>

         <div class="btn-group">
            <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Effort <span class="caret"></span></button>
            <ul class="dropdown-menu">
                <li><a href="#">option1</a></li>
                <li><a href="#">option2</a></li>
                <li><a href="#">option2</a></li>
            </ul>
        </div>

        <div class="btn-group">
            <button type="button" class="btn btn-warning"> Find </button>  
        </div>
</div>

	
    
  
	<div class="search_result">
		<hr>
		<p>  We have found 65 opportunities near you <b> LONDON, UK </b> </p>  
		<hr>
	</div>







  	<div class = "sidebar_plus_events">
         	
	             <div class="col-md-2 sidebar"> 
 	          	   
           			 <div class="form">
                		<label class="control-label">
                    	CAUSE AREA </label>
                		<label class="radio">
                    		<input value="1" type="radio">animals
                		</label>
                		<label class="radio">
                		    <input value="2" type="radio">children
                		</label>
                		<label class="radio">
                		    <input value="3" type="radio">health care
                		</label>
                		<label class="radio">
                		    <input value="4" type="radio">enviroment
                		</label>
          			  </div>

          			 	<br>

          			 	<div class="form">
                		<label class="control-label">
                    	RATINGS </label>
                		<label class="radio">
                    		<input value="1" type="radio"> 6 Stars
                		</label> 
                		<label class="radio"> 
                		    <input value="2" type="radio"> 5 Stars
                		</label> 
                		<label class="radio"> 
                		    <input value="3" type="radio"> 4 Stars
                		</label> 
                		<label class="radio"> 
                		    <input value="4" type="radio"> 3 Stars
                		</label> 
                		<label class="radio"> 
                		    <input value="5" type="radio"> 2 Stars
                		</label> 
                		<label class="radio"> 
                		    <input value="6" type="radio"> 1 Stars
                		</label>
          			  	</div>

          			  	<br>

          			  	<div class="form">
                		<label class="control-label">
                    	TIME </label>
                		<label class="radio">
                    		<input value="1" type="radio"> 1 Hour
                		</label> 
                		<label class="radio"> 
                		    <input value="2" type="radio"> 2 hours
                		</label> 

                		<label class="radio"> 
                		    <input value="2" type="radio"> 3 hours
                		</label> 

                		<label class="radio"> 
                		    <input value="2" type="radio"> 4 hours
                		</label> 
                		
                		<label class="radio"> 
                		    <input value="2" type="radio"> 5 hours or above
                		</label> 
                	
          			  	</div>
        				
	              </div>
	            
	            <div class="col-md-9 events col-md-offset-1">

	             <div class = "one_event">
	            	<div class ="row">
	          	   		<div class="col-md-3">

                    <div class="conatainer">
	          	 			<div class ="event_pic">
	          	   			       <img src="http://wikivillage.co.za/sites/default/files/media/garden-route-spca/garden-route-spca1.jpg" alt="description here "/>
	          	   			</div>
	          	   		</div>
                  </div>


	          	    <div class="col-md-9 123">
	          	   			<h3> Event A</h3>
	          	   			<p> This is the description XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
	          	   				XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
	          	   				XXXXXXXXXXXXXXXXXXX </p>
	          	   			<p> <b>15</b> Spaces Left</p>

	          	   			<div class="btn-group">
           						 <button type="button" class="btn btn-info"> Bookmark </button>
       						</div>

       						<div class="btn-group">
           						 <button type="button" class="btn btn-info"> Tell a friend </button>
       						</div>

       						<div class="btn-group">
                     <button type="button" class="btn btn-info"> Learn More </button>
       						</div>

       						<div class="btn-group">
           						 <button type="button" class="btn btn-success"> Register </button>
       						</div>

	          	   			</div>
	          	   		</div>
	          	   	</div>


              <div class = "one_event">
                <div class ="row">
                    <div class="col-md-3">
                    <div class ="event_pic">
                             <img src="http://wikivillage.co.za/sites/default/files/media/garden-route-spca/garden-route-spca1.jpg" alt="description here "/>
                      </div>
                    </div>

                    <div class="col-md-9 123">
                      <h3> Event A</h3>
                      <p> This is the description XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                        XXXXXXXXXXXXXXXXXXX </p>
                      <p> <b>15</b> Spaces Left</p>

                      <div class="btn-group">
                       <button type="button" class="btn btn-info"> Bookmark </button>
                  </div>

                  <div class="btn-group">
                       <button type="button" class="btn btn-info"> Tell a friend </button>
                  </div>

                  <div class="btn-group">
                       <button type="button" class="btn btn-info"> Learn more </button>
                  </div>

                  <div class="btn-group">
                       <button type="button" class="btn btn-success"> Register </button>
                  </div>

                      </div>
                    </div>
                  </div>
	          	  

                  <div class = "one_event">
                    <div class ="row">
                    <div class="col-md-3">
                    <div class ="event_pic">
                             <img src="http://wikivillage.co.za/sites/default/files/media/garden-route-spca/garden-route-spca1.jpg" alt="description here "/>
                      </div>
                    </div>

                    <div class="col-md-9 123">
                      <h3> Event A</h3>
                      <p> This is the description XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                        XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
                        XXXXXXXXXXXXXXXXXXX </p>
                      <p> <b>15</b> Spaces Left</p>

                      <div class="btn-group">
                       <button type="button" class="btn btn-info"> Bookmark </button>
                  </div>

                  <div class="btn-group">
                       <button type="button" class="btn btn-info"> Tell a friend </button>
                  </div>

                  <div class="btn-group">
                       <button type="button" class="btn btn-info"> Learn more </button>
                  </div>

                  <div class="btn-group">
                       <button type="button" class="btn btn-success"> Register </button>
                  </div>

                      </div>
                    </div>
                  </div>


	            </div>
	     
	         </div>
  
</body>
