
<body id="page">
  <ul class="cb-slideshow">
    <li><span>Image 01</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 02</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 03</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 04</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 05</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 06</span><div><h3><!--fade-text-here--></h3></div></li>
  </ul>
  
<div class="intro-message">
  <h1>GIVE YOUR EFFORT</h1>
  <h3>Where Charity meets Giving</h3>
  <hr class="intro-divider">
  <form class="form-wrapper cf">
    <input type="text" placeholder="Search here..." required>
    <button type="submit">Search</button>
  </form>     
          
  <div class="page-scroll">
    <a href="#categories" class="btn btn-circle">
      <i class="fa fa-angle-double-down animated"></i>
    </a>
  </div>
  
</div>
      
         <!--Start row-->
         <section id="categories">
         <div class="row">
         <!---->  
           <div class="col-lg-3 col-xs-6">
             <div class="btn-1 btn-primary btn-lg btn-block">
               <div class="caption">
                 <h2><a href="#">ELDERLY</a></h2>
                </div>
             </div>
           </div>

           <div class="col-lg-3 col-xs-6">
             <div class="btn-2 btn-primary btn-lg btn-block" >
               <div class="caption">
                 <h2><a href="#">HOMELESS</a></h2>
               </div>
             </div>
           </div>

           <div class="col-lg-3 col-xs-6">
             <div class="btn-3 btn-primary btn-lg btn-block">
               <div class="caption">
                 <h2><a href="#">ANIMALS</a></h2>
               </div>
             </div>
           </div>

           <div class="col-lg-3 col-xs-6">
             <div class="btn-4 btn-primary btn-lg btn-block">
               <div class="caption">
                 <h2><a href="#">CHILDREN</a></h2>
               </div>
             </div>
           </div>     
            <div class="col-lg-3 col-xs-6">
             <div class="btn-1 btn-primary btn-lg btn-block">
               <div class="caption">
                 <h2><a href="#">ELDERLY</a></h2>
                </div>
             </div>
           </div>

           <div class="col-lg-3 col-xs-6">
             <div class="btn-2 btn-primary btn-lg btn-block " >
               <div class="caption">
                 <h2><a href="#">HOMELESS</a></h2>
               </div>
             </div>
           </div>

           <div class="col-lg-3 col-xs-6">
             <div class="btn-3 btn-primary btn-lg btn-block">
               <div class="caption">
                 <h2><a href="#">ANIMALS</a></h2>
               </div>
             </div>
           </div>

           <div class="col-lg-3 col-xs-6">
             <div class="btn-4 btn-primary btn-lg btn-block">
               <div class="caption">
                 <h2><a href="#">CHILDREN</a></h2>
               </div>
             </div>
           </div>     
           
           <div class="col-lg-3 col-xs-6">
             <div class="btn-1 btn-primary btn-lg btn-block">
               <div class="caption">
                 <h2><a href="#">ELDERLY</a></h2>
                </div>
             </div>
           </div>

           <div class="col-lg-3 col-xs-6">
             <div class="btn-2 btn-primary btn-lg btn-block" >
               <div class="caption">
                 <h2><a href="#">HOMELESS</a></h2>
               </div>
             </div>
           </div>

           <div class="col-lg-3 col-xs-6">
             <div class="btn-3 btn-primary btn-lg btn-block">
               <div class="caption">
                 <h2><a href="#">ANIMALS</a></h2>
               </div>
             </div>
           </div>

           <div class="col-lg-3 col-xs-6">
             <div class="btn-4 btn-primary btn-lg btn-block">
               <div class="caption">
                 <h2><a href="#">CHILDREN</a></h2>
               </div>
             </div>
           </div>   
            
       <!--End row-->
       </div>
         
           <div class="col-lg-12 col-xs-12">  
            <div class="page-scroll">
                <a href="#" class="btn btn-circle">
                <i class="fa fa-angle-double-up animated"></i>
                </a>
            </div> 
         </div>
           
       </section>    
      <!---->
   </body>
<footer>
</footer>