

<body class="home">
  <ul class="cb-slideshow">
    <li><span>Image 01</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 02</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 03</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 04</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 05</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 06</span><div><h3><!--fade-text-here--></h3></div></li>
  </ul>
  
<div class="intro-message" id="top-of-page">
  <h1>GIVE YOUR EFFORT</h1>
  <h3>Where Charity meets Giving</h3>
  <hr class="intro-divider">
  <form class="form-wrapper cf">
    <input type="text" placeholder="Search here..." required>
    <button type="submit">Search</button>
  </form>     
          
  <div class="page-scroll">
    <a href="#categories" class="btn btn-circle" onclick="$('#categories').animatescroll({scrollSpeed:2000,easing:'easeOutBack'});">
      <i class="fa fa-angle-double-down animated"></i>
    </a>
  </div>
  
</div>
      
<!--Start container-->
  <div class="container-fluid cat-frame" id="categories">
    <!--Start row-->
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <a href ="/events/?tags=Elderly/"> 
          <div class="tile">
            <img src ="assets/tiles/elderly.jpg">
            <div class="overlay" >
              Elderly 
            </div>
         </div>
        </a>  
      </div>   
      
      <div class="col-lg-3 col-md-6 col-sm-6">
        <a href ="/events/?tags=ArtsCulture/">
          <div class="tile">
            <img src ="assets/tiles/arts.jpg">
            <div class="overlay" >
              Arts & Culture
            </div>
         </div>
        </a>  
      </div> 
    
      <div class="col-lg-3 col-md-6 col-sm-6">
        <a href ="/events/?tags=Animals/">
          <div class="tile">
            <img src ="assets/tiles/animals.jpg">
            <div class="overlay" >
              Animals
            </div>
         </div>
        </a>  
      </div> 
      
      <div class="col-lg-3 col-md-6 col-sm-6">
        <a href ="/events/?tags=Food/">
          <div class="tile">
            <img src ="assets/tiles/food.jpg">
            <div class="overlay" >
              Food
            </div>
         </div>
        </a>  
      </div>   
      
      <div class="col-lg-3 col-md-6 col-sm-6">
        <a href ="/events/?tags=Healthcare/">
          <div class="tile">
            <img src ="assets/tiles/healthcare.jpg">
            <div class="overlay" >
              Healthcare
            </div>
         </div>
        </a>  
      </div> 
    
      <div class="col-lg-3 col-md-6 col-sm-6">
        <a href ="/events/?tags=Teaching/">
          <div class="tile">
            <img src ="assets/tiles/teacher.jpg">
            <div class="overlay" >
              Teaching 
            </div>
         </div>
        </a>  
      </div>
      
      <div class="col-lg-3 col-md-6 col-sm-6">
        <a href ="/events/?tags=MentalHealth/">
          <div class="tile">
            <img src ="assets/tiles/mental.jpg">
            <div class="overlay" >
              Mental Health 
            </div>
         </div>
        </a>  
      </div> 
    
      <div class="col-lg-3 col-md-6 col-sm-6">
        <a href ="/events/?tags=Homeless/">
          <div class="tile">
            <img src ="assets/tiles/homeless.jpg">
            <div class="overlay" >
              Homeless 
            </div>
         </div>
        </a>  
      </div> 
      
      <div class="col-lg-3 col-md-6 col-sm-6">
        <a href ="/events/?tags=Children/">
          <div class="tile">
            <img src ="assets/tiles/children.jpg">
            <div class="overlay" >
              Children
            </div>
         </div>
        </a>  
      </div> 
    
      <div class="col-lg-3 col-md-6 col-sm-6">
        <a href ="/events/?tags=Abroad/">
          <div class="tile">
            <img src ="assets/tiles/abroad.jpg">
            <div class="overlay" >
              Abroad
            </div>
         </div>
        </a>  
      </div>
      
      <div class="col-lg-3 col-md-6 col-sm-6">
        <a href ="/events/?tags=PhysicallyDisabled/">
          <div class="tile">
            <img src ="assets/tiles/disabled.jpg">
            <div class="overlay" >
              Physically Disabled
            </div>
         </div>
        </a>  
      </div> 
    
      <div class="col-lg-3 col-md-6 col-sm-6">
        <a href ="/events/?tags=Community/">
          <div class="tile">
            <img src ="assets/tiles/community.jpg">
            <div class="overlay" >
              Community
            </div>
         </div>
        </a>  
      </div> 
      
    
    </div>
    
    <div class="row">
      <div class="page-scroll">
        <a href="#top-of-page" class="btn btn-circle" onclick="$('#top-of-page').animatescroll({scrollSpeed:2000,easing:'easeOutBack'});">
        <i class="fa fa-angle-double-up animated"></i>
        </a>
      </div>
    
    </div>
      
    
  </div>  
  



  
  
<!---->
</body>


