
<body class ="ngo_index">
  <div class="dropdownbarbox">
        <div class="container">
            <div class="dropdownbox_des">
              <h3> Find Your Way to Make a Change </h3> 
               <h4> Wherever you like. Find your match! </h4>
            </div>
        </div>

        <div class="btn-group">
              <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Location <span class="caret"></span></button>
              <ul class="dropdown-menu">
                  <li><a href="#">option1</a></li>
                  <li><a href="#">option2</a></li>
                  <li><a href="#">option2</a></li>
              </ul>
          </div>

          <div class="btn-group">
              <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">What <span class="caret"></span></button>
              <ul class="dropdown-menu">
                  <li><a href="#">option1</a></li>
                  <li><a href="#">option2</a></li>
                  <li><a href="#">option2</a></li>
              </ul>
          </div>

          <div class="btn-group">
              <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">When <span class="caret"></span></button>
              <ul class="dropdown-menu">
                  <li><a href="#">option1</a></li>
                  <li><a href="#">option2</a></li>
                  <li><a href="#">option2</a></li>
              </ul>
          </div>

          <div class="btn-group">
              <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Length <span class="caret"></span></button>
              <ul class="dropdown-menu">
                  <li><a href="#">option1</a></li>
                  <li><a href="#">option2</a></li>
                  <li><a href="#">option2</a></li>
              </ul>
          </div>

           <div class="btn-group">
              <button type="button" data-toggle="dropdown" class="btn btn-primary dropdown-toggle">Effort <span class="caret"></span></button>
              <ul class="dropdown-menu">
                  <li><a href="#">option1</a></li>
                  <li><a href="#">option2</a></li>
                  <li><a href="#">option2</a></li>
              </ul>
          </div>

          <div class="btn-group">
              <button type="button" class="btn btn-warning"> Find </button>  
          </div>
  </div>
  
</body>
