<% provide(:title, "Log in") %>
<!-- jquery for tabs -->
  <script src="//code.jquery.com/jquery-1.10.2.js"></script>
  <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

  <script>
    $(function() {
      $( "#tabs" ).tabs();
    });
  </script>
<!-- end jquery for tabs -->

<body class="login">

  <ul class="cb-slideshow">
    <li><span>Image 01</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 02</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 03</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 04</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 05</span><div><h3><!--fade-text-here--></h3></div></li>
    <li><span>Image 06</span><div><h3><!--fade-text-here--></h3></div></li>
  </ul>
  
  <div class="intro-message" id="top-of-page">
</div>
      
<!----> 
  <div class="wrapper">
      <div class="container">
    <div class="row text-center">
      <br/>
        <h1>Log in</h1>
        <small>not registered yet? <%= link_to "sign up", signup_path %></small>
      <br/>
      <br/>
    </div>
  </div>
    
      <!-- Volunteer / NGO login up form -->
      <ul class="nav nav-tabs container" role="tablist" id="tabs">
        <li role="presentation" class="active">  
          <a href="#volunteer" aria-controls="volunteer" role="tab" data-toggle="tab" style="font-weight: bold;">Volunteer</a>
        </li>
        <li>
          <a href="#ngo" aria-controls="ngo" role="tab" data-toggle="tab" style="font-weight: bold;">NGO</a>
        </li>
      </ul>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active"  id="volunteer">
          <%= render template: 'sessions/new' %>
        </div>
        <div role="tabpanel" class="tab-pane" id="ngo">
          <%= render template: 'ngo_sessions/new' %>
        </div>
      </div>
      <!-- end Volunteer / NGO login form -->
  </div>
  
</body>