
nav {
  background-color: white;
  
}

.nbar {
    height: 10px;
    font-size: 14px; 
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
    font-color: white;
    background-color: white;
}

.nbar li {
    
    background-color: white;
}

