/* For Taha's alert box */
p#notice {
  margin: 0px;
  
}

.nbar {

    font-size: 14px; 
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;

    background-color: transparent;
}

.nbar li {

    background-color: transparent;
}


