<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Give Your Effort - Contact us</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author"   content="Kevin Sickmueller" />
    <style type="text/css" media="all">@import "css/GiveYourEffort.css";</style>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>	
	
	<script src="js/jquery-1.7.1.min.js"></script> 
	<script src="js/jquery.validate.js"></script> 
	<script src="js/contact_validation.js"></script> 
	<script>
		addEventListener('load', prettyPrint, false);
		$(document).ready(function(){
		$('pre').addClass('prettyprint linenums');
			});
	</script> 

	<style type="text/css">	
		label.valid {
			width: 24px;
			height: 24px;
			background: url(images/general/valid.png) center center no-repeat;
			display: inline-block;
			text-indent: -9999px;
		}
		label.error {
			font-weight: bold;
			color: red;
			padding: 2px 8px;
			margin-top: 2px;
		}
	</style>

  </head>
  
  <body> 
   <!-- ==========================================================================================================
                  Navigation bar
      ========================================================================================================== -->
  <div class="container">
      <div class="col-sm-8" style="background-color: white">
		<nav class="navbar" style="margin-left: -5%;width: 107%">
			<div class="container-fluid">
				<div>
					<ul class="nav navbar-nav">
						<li class="active"><a href="./index.html">HOME</a></li>
						<li><a href="#">FAQ</a></li>
						<li class="dropdown">
						    <a class="dropdown-toggle" data-toggle="dropdown" href="#">CONTACT US
         					   <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="./contact.html">Contact us</a></li>
								<li><a href="./about.html">About us</a></li>
							</ul>
						</li>
						<li><a href="#"><span class="glyphicon glyphicon-user"></span> Start Volunteering</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login as Volunteer</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login as NGO</a></li>
					</ul>
				</div>
			</div>
		</nav>
	  </div>   
  </div>
 
 
  <!-- ==========================================================================================================
		QUESTIONS?
      ========================================================================================================== -->
  <div class="container">
	 <div class="row">
	 	<div class="col-sm-8" style="background-color:white">	
		    <img class="img-responsive" src="images/general/contact.jpg" 
			     alt="Got a question" width="800" height="400"> 
		</div>
	 </div>  
  </div>
  
  
  <!-- ==========================================================================================================
                 CONTACT US
      ========================================================================================================== -->
  <div class="container">
     <div class="row">
        <div class="col-sm-8" style="background-color:white; text-align:left">
	         <h2><p class="text-muted"><B>Contact</B></p></h2>
		</div>
	 </div> 
	 
     <div class="row">
        <div class="col-sm-8" style="background-color:white; text-align:left">		
			<table class="table table-bordered">
				<thead>
					<tr>
						<th>
							<h5>We will use these details to respond to your enquiry.</h5> 
							<h5>Fill in the form below to email us. 
							Please give us up to five working days to look into your query and get back to you.</h5> 
							<br>
							<form class="form-horizontal" id="registration-form">
								<div class="form-group">
									<label class="col-sm-2 control-label" for="firstname" 
										   style="text-align:left">First Name *</label>
									<div class="controls">
										<input type="text" class="col-sm-9" id="firstname" name="firstname">
									</div>
								</div>
								
								<div class="form-group">
									<label class="col-sm-2 control-label" for="lastname" 
										   style="text-align:left">Last Name *</label>
									<div class="controls">
										<input type="text" class="col-sm-9" id="lastname" name="lastname">
									</div>
								</div>	
								
								<div class="form-group">
									<label class="col-sm-2 control-label" for="email" 
										   style="text-align:left">Email address *</label>
									<div class="controls">
										<input type="text" class="col-sm-9" id="email" name="email">
									</div>
								</div>	
								
								<div class="form-group">
									<label class="col-sm-2 control-label" for="topic"
										   style="text-align:left">Topic *</label>
									<div class="controls">
										<input type="text" class="col-sm-9" id="topic" name="topic">
									</div>
								</div>	
								
								<div class="form-group">
									<label class="col-sm-2 control-label" for="message"
										   style="text-align:left">Message *</label>
									<div class="controls">
										<textarea class="col-sm-9" rows="5" id="comment" name="comment"></textarea>
									</div>
								</div>	
								
								<div class="form-actions">
									<button type="submit" class="btn btn-success btn-large">Submit</button>
								</div>								
							</form>
						</th>
					</tr>
				</thead>
			</table>
	 </div> 
  </div>
  
  <!-- ==========================================================================================================
                OUR SUPPORTERS
      ========================================================================================================== -->
  <div class="container">
    <div class="row">
        <div class="col-sm-8" style="background-color:indianred; text-align:left">
	         <h3><p class="text-muted"><B>OUR SUPPORTERS</B></p></h3>
		</div>
	 </div> 
	
	<div class="row">
		<div class="col-sm-2" style="background-color:indianred">
			 <a href="http://www.weforum.org" class="img-responsive">
				<img src="images/about/wef.jpg" alt="WEF" 
				     width="110" height="80" title="World Economic Forum">
			</a>	
		</div> 
		
		<div class="col-sm-2" style="background-color:indianred;">
			 <a href="http://www.illy.com" class="responsive">
				<img src="images/about/illy.jpg" alt="ILLY" 
				     width="110" height="80" title="Illy" >	
			 </a>	
		</div> 	
		
		<div class="col-sm-2" style="background-color:indianred">
			<a href="http://www.oxfam.org.uk" class="responsive">
				<img src="images/about/oxfam.jpg" alt="OXFAM"
					 width="110" height="80" title="Oxfam">	
			</a>	
		</div> 		
		
		<div class="col-sm-2" style="background-color:indianred">
			<a href="http://www.greenpeace.org.uk" class="responsive">
				<img src="images/about/wwf.jpg" alt="GREENPEACE"
				    style="margin-left: -8%"
				     width="180" height="80" title="Greenpeace">	
			</a>				
		</div> 	
	</div>  
	
	<div class="row">
        <div class="col-sm-8" style="background-color:indianred; text-align:left">
	         <h6>&nbsp </h6>
		</div>
	</div>  
  </div>
  

  <!-- ==========================================================================================================
                  FOOTER
      ========================================================================================================== -->
  <div class="container">
       <div class="row">
			<div class="col-sm-8" 
					style="background-color:#666666; color: white; text-align: left">
				<br>
				<h6>Copyright © Kevin Sickmueller</h6>
				<h6>Powered by <a href="http://www.getbootstrap.com"> HTML,CSS and Bootstrap</a></h6>
				<br>
			</div>
		</div> 	
  </div>  

  </body>
</html>
