<% unless current_user?(@user) %>
  <div>
  <% if current_user.signed_up?(@event) %>
    <div>
      <%= render 'opt_out' %>
    </div>
  <% else %>
    <div>
      <%= render 'sign_up' %>
    </div>
  <% end %>
  </div>
<% end %>