<%= form_for(current_user.event_volunteers.find_by(event_id: @event.id), 
      html: { method: :delete }, remote: true) do |f| %>

  <div>
    <%= hidden_field_tag :attending, "false" %>
  </div>

  <%= f.submit "Remove from Watchlist", class: "btn btn-default il-button" %>
                  
<% end %>