<!-- STATIC WALL FOR USER'S NOT LOGGED IN -->
<table class="table table-striped">
  <thead>
    <tr>
      <th class="one-c">Name</th>
      <th class="two-c">Comment</th>
    </tr>
  </thead>
  <tbody class="wall_posting">
    <% @event.posts.each do |p| %>  
      <tr>
        <td class="one-c"><%=p.volunteer_id %></td>
        <td class="two-c"><%=p.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>
                            
<%= form_for(@event.posts.build, remote: true) do |f| %>
  <div class="input-group">
    <input type="text" class="form-control" placeholder="post a message on our wall!">
    <span class="input-group-btn">
      <%= f.submit "Add", class: "btn btn-primary" %>
    </span>  
  </div>
<% end %>