<h1> Detailed Event Page </h1>

<!-- sign up to an event -->
<div class="event_signup">
<% if logged_in?%>

  <%= render 'event_signup' %>

<% else %>

  <%= button_to "Attend", login_path, 
        class: "btn btn-primary", method: :get  %>

<% end %>         
</div>
<!-- end sign up to an event -->
