<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Give Your Effort - Main Page</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author"   content="Kevin Sickmueller" />
    <style type="text/css" media="all">@import "gye3.0/app/assets/stylesheets";</style>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </head>
  
  <body class = "stories"> 
   <!-- ==========================================================================================================
                  Navigation bar
========================================================================================================== -->
  <div class="container">
      <div class="col-sm-8" style="background-color: white">
		<nav class="navbar" style="margin-left: -5%;width: 107%">
			<div class="container-fluid">
				<div>
					<ul class="nav navbar-nav">
						<li class="active"><a href="./start.html">HOME</a></li>
						<li><a href="#">FAQ</a></li>
						<li class="dropdown">
						    <a class="dropdown-toggle" data-toggle="dropdown" href="#">CONTACT US
         					   <span class="caret"></span></a>
							<ul class="dropdown-menu">
								<li><a href="#">Main Contact</a></li>
								<li><a href="#">More Contact Informtion</a></li>
							</ul>
						</li>
						<li><a href="#"><span class="glyphicon glyphicon-user"></span> Start Volunteering</a></li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login as Volunteer</a></li>
						<li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login as NGO</a></li>
					</ul>
				</div>
			</div>
		</nav>
	  </div>   
  </div>
  
  <!-- ==========================================================================================================
                  header line
      ========================================================================================================== -->
  <div class="container">
     <div class="row">
       <div class="col-sm-8" style="background-color:white; text-align:left">
	        <h4><p class="text-muted"><B>GIVE YOUR EFFORT</B></p>
		        <div style="margin-left: 10%;">
  		             <p class="small"><B>Make a Change, Contribute your Best </B></p>
			    </div>
		    </h4>
	   </div>
	 </div>  
  </div>

  <!-- ==========================================================================================================
                search line
      ========================================================================================================== -->
  <div class="container">
       <div class="col-sm-8" style="background-color:indianred; color:black">
            <h3><B>Find Your Way to Make a Change!</B>
		        <p class="small", style="color:black">Whenever you like. Global find your match!</p>
		    </h3>
			<div class="row no-gutter">
				<div class="col-sm-2">
					<select class="form-control input-sm" id="Location">
						<option>LOCATION</option>
						<option>London</option>
						<option>Madrid</option>			
						<option>New York</option>
						<option>Paris</option>
						<option>Rome</option>
						<option>Tokio</option>
					</select>		
				</div>	
		   
				<div class="col-sm-2">
					<select class="form-control input-sm" id="What">
							<option>WHAT</option>
							<option>NGO</option>
							<option>Volunteer</option>
							<option>I don't care!</option>
					</select>	
				</div>	
		   
				<div class="col-sm-2">
					<select class="form-control input-sm" id="When">
						<option>WHEN</option>
						<option>immediate</option>
						<option>1st of January</option>
						<option>1st of April</option>
						<option>1st of July</option>
						<option>1st of October</option>
					</select>	
				</div>	
		   
				<div class="col-sm-2">
					<select class="form-control input-sm" id="Length">
						<option>LENGTH</option>
						<option>1 Month</option>
						<option>6 Month</option>
						<option>12 Month</option>
					</select>	
				</div>
		   
				<div class="col-sm-2">
					<select class="form-control input-sm" id="Effort">
					    <option>EFFORT</option>
						<option>Low</option>
						<option>Medium</option>
						<option>High</option>
					</select>	
				</div>
				<div class="col-sm-2">
			       <button type="button" class="btn btn-default btn-sm">
			                 <span class="glyphicon glyphicon-search"></span> Search 
			        </button> 	
			    </div>
		     </div>
		   <br>		   
	   </div>
   </div>
 
  <!-- ==========================================================================================================
                  found opportunities
      ========================================================================================================== -->
  <div class="container">
       <div class="col-sm-8" style="background-color:linen; text-align:left">
	    <br>
		<table class="table table-bordered" style="margin-left: 2%;width: 95%">
           <tbody>
            <tr style="background-color: white;text-align: center" >
               <td>WE'VE FOUND <strong>65</strong> OPPORTUNITIES NEAR YOU&nbsp 
               <span class="glyphicon glyphicon-download"></span>
               </td>
            </tr>
          </tbody>
         </table>
	   </div>
  </div>
  
   <!-- ==========================================================================================================
		SHARING IS CARING
      ========================================================================================================== -->
  <div class="container">
     <div class="row">
		<div class="col-sm-4" style="background-color:white; text-align:left">
	 		<h3> <p style="height: 20px;color:#cc5151;font-size:105%">
		           <B>SHARING IS</B>
				</p>
		        <p style="margin-left:30%;color:#cc5151;font-size:105%">
				   <B>CARING</B>
				</p>
		    </h3>  
	   </div>
	   
        <div class="col-sm-4" style="background-color:white; text-align:right; color: black">  
	        <h4> <p><B>Share your Volunteering Stories</B></p>
		         <p style="margin-right:24%"><B>and Experiences</B></p>
			     <p style="margin-right:5%"> <B>with the Community</B></p>
     	  	</h4>		 
	    </div>
	 </div> 
	 
	 <div class="row">
	 	    <div class="col-sm-6" style="background-color:white">	
			    <img class="img-responsive" src="images/headers/handsup.GIF" 
				    alt="Sharing is Caring" width="600" height="300" 
					style="margin-left:5%;"> 
			</div>
			<div class="col-sm-2" style="background-color:white; text-align:right">
		       <button type="button" class="btn btn-default" 
			           style="margin-top: 113%">
					    <span class="glyphicon glyphicon-thumbs-up"></span> Share Your Story
			   </button>		
	        </div>
	 </div>  
  </div>
 
  <!-- ==========================================================================================================
                 SEE RECENT STORIES
      ========================================================================================================== -->
  <div class="container">
  	 <div class="row">
        <div class="col-sm-8" style="background-color:white; text-align:left">
	         <h3><p class="text-muted"><B>SEE RECENT STORIES</B></p></h3>
	    </div>
	 </div> 
	 
	 <div class="row">
	    <div class="col-sm-8" style="background-color:white; text-align:left">
            <div class="padding">
				<img src="images/headers/bubble1.GIF" class="img-circle" title="empty1"
                     width="80" height="80" style="margin-top: 100; margin-top: 15%;">
				<img src="images/headers/Angie.GIF"   class="img-circle" title="Angie"  
					 width="180" height="180" style="margin-left: 6%;" />
				<img src="images/headers/bubble1.GIF" class="img-circle" title="empty2" 
					 width="130" height="130" style="margin-left: 8%; margin-top: -9%;" />
				<img src="images/headers/JAY.GIF"     class="img-circle" title="Jay"    
					 width="160" height="160" style="margin-left: 10%;" />
			</div>	
		</div> 
	 </div> 

	 <div class="row">
	    <div class="col-sm-8" style="background-color:white; text-align:left">
            <div class="padding">
				<img src="images/headers/Phill.GIF"   class="img-circle" 
					 width="180" height="180" title="Phil"   style="margin-left: 3%" />
				<img src="images/headers/bubble1.GIF" class="img-circle"
					 width="160" height="160" title="Empty3" style="margin-left: 3%; margin-top: -9%" />
				<img src="images/headers/bubble1.GIF" class="img-circle" 
					 width="80" height="80"   title="Empty4" style="margin-left: 3%; margin-top: -20%" />		
				<img src="images/headers/bubble1.GIF" class="img-circle" 
					 width="160" height="160" title="Empty5" style="margin-left: 3%; margin-top: -7%" />
			</div>	
			<br>
		</div> 
	 </div> 
  </div>

  
  <!-- ==========================================================================================================
                  empty Row
      ========================================================================================================== -->
  <div class="container">
       <div class="col-sm-8" style="background-color:indianred">
	    <h4><br><br></h4>
	   </div>
  </div>
  
<!-- ==========================================================================================================

========================================================================================================== -->
  <div class="container">
	 <div class="row">
        <div class="col-sm-8" style="background-color:white; text-align:left">
	         <h3><p class="text-muted"><B>STORY OF THE MONTH</B></p></h3>
	    </div>
	 </div> 
	 
     <div class="row">	 
		<div class="col-sm-5" style="background-color:white; text-align:left">
		    <blockquote>
                Last week <B>Unicef UK Ambassador Michael Sheen</B> met party leaders and senior 
                representatives from each of the main political parties to talk 
                about Unicef UK’s Children in Danger campaign.<br><br>
                All over the globe, children are experiencing unspeakable <B>violence</B>. On city streets, 
                in communities, schools and homes, children are attacked, abused, exploited and killed. 
                For too long, the world has tolerated this epidemic of violence that leaves millions 
                of children in danger.
		    </blockquote>
	    </div>
	   
        <div class="col-sm-3" style="background-color:white; text-align:right; color: black">  
	         <img src="images/general/Story_of_the_month.JPG" class="img-responsive" 
			      title="Story of the month" style="margin-left: 3%; margin-top: 6%" />

		       <button type="button" class="btn btn-default" style="margin-top: 7%; margin-left: 60%">
				   <span class="glyphicon glyphicon glyphicon-file"></span> Read more
			   </button>		
	    </div>
	 </div> 
	 
	 <div class="row">	 
		<div class="col-sm-8" style="background-color:white; text-align:left; margin-top: -2%">
		    <blockquote>
                In September, world leaders will agree new global goals that will guide the development 
                of our planet for the next 15 years. These new goals offer a historic opportunity to 
                galvanise global commitment to end violence against children. That’s why it is vital 
                that these goals include a robust target to end abuse, exploitation, trafficking and 
                all forms of violence and torture against children.<br><br>
                Michael spoke with all of the major parties about why we need a global target to end 
                all forms of violence against children everywhere. It is fantastic that each agreed 
                to support a target to end violence against children in the new global development goals.
               <br> <br>
		       <footer>From blogs.unicef.org.uk</footer>
		    </blockquote>
	    </div>
	 </div>  
  </div>
  
  <!-- ==========================================================================================================
                  FOOTER
      ========================================================================================================== -->
  <div class="container">
       <div class="col-sm-8" 
	        style="background-color:#666666; color: white; text-align: left">
	    <br>
		<h6>Copyright © Kevin Sickmueller</h6>
		<h6>Powered by <a href="http://www.getbootstrap.com"> HTML,CSS and Bootstrap</a></h6>
		<br>
	   </div>
  </div>  

  </body>
</html>
