
// new event index CSS starts here



.e_index{
 background-image: url(/assets/volunteer-bg/subtle-bg.png);
 

  background-attachment: fixed;
  background-repeat: repeat;
  
}

.e_index, p, h1, h2, h3, h4 { 
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0px;
  margin: 0px;
}

.e_index body {
    padding-top: 700px;
}

.e_index .dropdownbox_des {
	text-align: center;
  padding: 50px 15px 15px 30px;	
}

.e_index .dropdownbarbox {
  //background: rgba(0,255,255,0.7);
    background: rgba(152 ,251,152,0.6);
  text-align: center;
  padding: 15px;	
  margin: 0px 0px 0px 0px;
  border-radius: .2em;
  border: 2px solid #cccccc;

  -webkit-transition: border linear .2s, box-shadow linear .2s;
  -moz-transition: border linear .2s, box-shadow linear .2s;
  -o-transition: border linear .2s, box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
  
}


.e_index .search_result {
	text-align: center;
	padding-top: 20px;	
	padding-bottom: 20px;	
}

.e_index .checkbox{
  padding: 0px 5px;
  
}

.e_index .event_pic .img-circle {
    width: 180px; 
    height: 180px;

}



.e_index .one_event {
	 margin: 0px 0px 20px 0px;
	 //border: 2px solid #d3d3d3;

   padding: 15px 15px 15px 15px;
  
   //background: rgba(255,255,255,0.3);
  background: rgba(255,255,255,0.75);
  
  border-style: solid;
    border-width: 1px;
  border-color: #d3d3d3;

}

/*
.e_index .sidebar_plus_event{
	margin-right: 30px;
	margin-left: 30px ;
}*/ 
