.e_detail{
  background-image: url(/assets/volunteer-bg/subtle-bg.png);

  background-attachment: fixed;
  background-repeat: repeat;
  
}

.e_detail, p, h1, h2, h3, h4 { 
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0px;
  margin: 0px;
}

.e_detail h1 { 
  font-size: 250%;
}

.e_detail h2 { 
  font-size: 120%;
}

.e_detail body {
    padding-top: 700px;
}


/* Blue Bar*/

.e_detail .blue-bar{
  background: lightsteelblue;
  position: relative;
  //padding-top: 5%;
  //padding-bottom: 5%;
  padding: 2% 5%;
  margin: 0%;
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;

}

.e_detail .blue-bar h1, .e_detail .blue-bar h2{
  margin: 0px;
  padding: 0px;
  color: darkblue;

}


/* Big Wrap*/

.e_detail .big-wrap{
  background: white;

  padding: 20px;
  
  margin-top: 25px;
  margin-left: auto ;
  margin-right: auto;

}

.e_detail .blue-bar h1, .e_detail .blue-bar h2{


}




/* Hack for Event Description */
.e_detail .e_panel{
  padding: 15px;
  height: auto;
  
}


/* Hacks for buttons */
.e_detail .il-button{
  margin: 15px 5px;
}
.e_detail .btn-primary{
  width: auto;  
}

.e_detail .float-right{
  float: right;
}

.e_detail .o-image{
  padding: 5px;
  margin: 1px; 
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Wall of comments */ 
.e_detail table {
  width: 100%;
}

.e_detail thead, .e_detail  tbody, .e_detail  tr, .e_detail  td, .e_detail  th { display: block; }

.e_detail tr:after {
  content: ' ';
  display: block;
  visibility: hidden;
  clear: both;
}

.e_detail  thead th {
  height: 30px;
  /*text-align: left;*/
}

.e_detail tbody {
  height: 120px;
  overflow-y: auto;
}

.e_detail thead {
/* fallback */
}



.e_detail .one-c, .e_detail  .one-c {
  width: 25%;
  float: left;
}

.e_detail .two-c, .e_detail  .two-c {
  width: 75%;
  float: left;
}


/* STAR rating */
.e_detail div.stars {
  width: 270px;
  display: inline-block;
  margin-bottom: 30px
}

.e_detail input.star { display: none; }
.e_detail a.star { display: none; }

.e_detail label.star {
  float: right;
  padding: 10px 10px 0px 10px;
  margin-bottom: 0px;
  font-size: 36px;
  color: #444;
  transition: all .2s;
}

.e_detail input.star:checked ~ label.star:before {
  content: '\f005';
  color: #FD4;
  transition: all .25s;
}

.e_detail input.star-5:checked ~ label.star:before {
  color: #FE7;
  text-shadow: 0 0 20px #952;
}

.e_detail input.star-1:checked ~ label.star:before { color: #F62; }

.e_detail label.star:hover { transform: rotate(-15deg) scale(1.3); }

.e_detail label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}

/* STAR rating */




/* Social media buttons */
.fixedmenu{ background:url('http://1.bp.blogspot.com/-FaeRKNmFDX8/Ud16d2_PZFI/AAAAAAAAAsM/5xugOK5YAuE/s1600/facebook.png');background-repeat:no-repeat;width:43px;height:43px;position:fixed;right:0px;top:160px; z-index:1000;}

.fixedmenu1{ background:url('http://3.bp.blogspot.com/-W7Z5XKfLWd8/Ud16eM8AadI/AAAAAAAAAsQ/cv7fgYD5fiE/s1600/facebook-hover.png');background-repeat:no-repeat;width:150px;height:43px;position:fixed;right:0px;top:160px; z-index:1100;}

.fixedmenu_1{margin:0px 0 0 43px}

.fixedmenutw{background:url('http://1.bp.blogspot.com/-WeUDB_HkbWA/Ud16fP78JoI/AAAAAAAAAsk/1k2WNVRCBvo/s1600/twitter.png');background-repeat:no-repeat;width:43px;height:43px;position:fixed;right:0px;top:205px;z-index:1000;}

.fixedmenutw1{background:url('http://1.bp.blogspot.com/-AEj1b-df974/Ud16fs5CVkI/AAAAAAAAAss/HYNXT4cJpPI/s1600/twitter_hover.png');background-repeat:no-repeat;width:150px;height:43px;position:fixed;right:0px;top:205px; z-index:1100;}

.fixedmenutw_1{margin:0px 0 0 43px}

.fixedmenufb{background:url('http://1.bp.blogspot.com/-hj1nQIe4NPQ/Ud16cbNkV1I/AAAAAAAAAr0/EswfGA-rVjM/s1600/Gplus.png');background-repeat:no-repeat;width:43px;height:43px;position:fixed;right:0px;top:250px; z-index:1000;}

.fixedmenufb1{background:url('http://4.bp.blogspot.com/-umCgVIZ-wTs/Ud16c1EAICI/AAAAAAAAAr8/5ZSWR05S2B8/s1600/Gplus_hover.png');background-repeat:no-repeat;width:150px;height:43px;position:fixed;right:0px;top:250px; z-index:1100;}

.fixedmenufb_1{margin:0px 0 0 43px}

.fixedmenurss{background:url('http://2.bp.blogspot.com/-9KAMTvWkJ4s/Ud16eU7kWyI/AAAAAAAAAsY/OpoARuR5pXY/s1600/rss.png');background-repeat:no-repeat;width:43px;height:43px;position:fixed;right:0px;top:295px; z-index:1000;}

.fixedmenurss1{background:url('http://4.bp.blogspot.com/-SDcrlF3MTAU/Ud16dDy_wnI/AAAAAAAAAsE/QjdRXR9BekM/s1600/RSS-hover.png');background-repeat:no-repeat;width:150px;height:43px;position:fixed;right:0px;top:295px; z-index:1100;}

.fixedmenurss_1{margin:0px 0 0 43px}



/* RANDOM PICTURES */

.e_detail .dropdownbarbox1 {

  height: 400px;
  color: #ffffff;
  background-image: image-url('event/eventdetail1.jpg');
  background-size:cover;
  padding: 0px;	
  margin: 0px 0px 0px 0px;
  
  h1{
    font-size: 80px;
    text-shadow: 2px 2px #606060;
  }
  
  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
  
}

.e_detail .dropdownbarbox2 {

  height: 400px;
  color: #ffffff;
  background-image: image-url('event/eventdetail2.jpg');
  background-size:cover;
  padding: 0px;	
  margin: 0px 0px 0px 0px;
  
  h1{
    font-size: 80px;
    text-shadow: 2px 2px #606060;
  }
  
  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
  
}
.e_detail .dropdownbarbox3 {

  height: 400px;
  color: #ffffff;
  background-image: image-url('event/eventdetail3.jpg');
  background-size:cover;
  padding: 0px;	
  margin: 0px 0px 0px 0px;
  
  h1{
    font-size: 80px;
    text-shadow: 2px 2px #606060;
  }
  
  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
  
}

.e_detail .dropdownbarbox4 {

  height: 400px;
  color: #ffffff;
  background-image: image-url('event/eventdetail4.jpg');
  background-size:cover;
  padding: 0px;	
  margin: 0px 0px 0px 0px;
  
  h1{
    font-size: 80px;
    text-shadow: 2px 2px #606060;
  }
  
  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
  
}


.e_detail .dropdownbarbox5 {

  height: 400px;
  color: #ffffff;
  background-image: image-url('event/eventdetail5.jpg');
  background-size:cover;
  padding: 0px;	
  margin: 0px 0px 0px 0px;
  
  h1{
    font-size: 80px;
    text-shadow: 2px 2px #606060;
  }
  
  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
  
}


