// new event index CSS starts here

.e_index{
  background-image: url(/assets/volunteer-bg/subtle-bg.png);

  background-attachment: fixed;
  background-repeat: repeat;
  
}

.e_index, p, h1, h2, h3, h4 { 
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0px;
  margin: 0px;
}

.e_index body {
    padding-top: 700px;
}

.e_index .dropdownbox_des {
	text-align: center;
  padding: 50px 15px 15px 30px;	
}

.e_index .dropdownbarbox {

  height: 400px;
  color: #ffffff;
  background-image: image-url('event/event_home.png');
  background-size:cover;
  padding: 0px;	
  margin: 0px 0px 0px 0px;
  
  h1{
    font-weight: 300;
    font-size: 80px;
    text-shadow: 2px 2px #606060;
  }
  
  h2{
    font-weight: 200;
  }
  
  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
  
}


.e_index .search_result {
	text-align: center;
	padding-top: 20px;	
	padding-bottom: 20px;	
}


.e_index .event_pic{
    width: 200px; 
    height: 250px;
    padding: 10px;
    margin: 10px;
}



.e_index .one_event {
	 margin: 0px 0px 30px 0px;
   padding: 0px;
   height: 100%;
   overflow: hidden;
  
   border-style: solid;
   border-width: 1px;
   border-color: #eaeaea;
   background-color: #ffffff;
}


.e_index img {
  display: block;
  height: auto;
  max-width: 100%;
}


/*
.e_index .sidebar_plus_event{
	margin-right: 30px;
	margin-left: 30px ;
}*/ 
