#calendar {
	width: 0 100%;
	margin: 0 auto;
  
  color: #eaeaea
}

#cal {

  overflow: hidden;
  background-color: #abaeb1;
}

.cal-form {
  height: 0px;
  overflow: hidden;
  background-color: #abaeb1;
}

.modal { 
    position: absolute;  
    width: auto; 
    margin: 0; 
}
