.v_index, p, h1, h2, h3, h4 { 
  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
  padding: 0px;
  margin: 0px;
  //color: white;
}


.v_index{
 background-image: url(/assets/volunteer-bg/subtle-bg.png);
 

  background-attachment: fixed;
  background-repeat: repeat;
  
}



.v_index body {
    padding-top: 70px;
}

.v_index .dropdownbox_des {
	text-align: center;
  padding: 50px 15px 15px 30px;	
}

.v_index .dropdownbarbox {

  height: 400px;
  color: #ffffff;
  //background-image: image-url('volunteer-bg/community-bg.jpg');
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/assets/volunteer-bg/community-bg.jpg) no-repeat center center fixed;
  background-size:cover;
  padding: 0px;	
  margin: 0px 0px 0px 0px;
  
  h1{

    font-size: 80px;
    text-shadow: 2px 2px #606060;
  }
  
  h2{
    font-weight: 200p;
  }
  
  
  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
  
}

.v_index .sidebar_plus_volunteers{
	margin-right: 30px;
	margin-left: 30px ;
}


.v_index .sidebar {
 //background-color: white;
 //padding-left: 50px;
 //padding-top: 30px;	
 //padding-bottom: 30px;	
 //border-right: 1px solid #d3d3d3;
  
}

.v_index .search_result {
	text-align: center;
  margin: 0px 0px 20px 0px;
	padding-top: 30px;	
	padding-bottom: 38px;
  background-color: #eaeaea;  
  color: #0087c9;
}


.v_index .checkbox{
  padding: 0px 5px;
  
}


.v_index .volunteers {
   // background-color: blue;
}

/* h1 { padding-top: 10px; }
h2 { padding-top: 10px; }*/

.v_index .one_volunteer {
	 margin: 0px 0px 20px 0px;


   padding: 15px 15px 15px 15px;

   border-style: solid;
   border-width: 2px;
   border-color: #428BCA;
   box-shadow: 6px 4px 4px #454545;
   background: rgba(255,255,255,1);

}


.v_index .volunteer_pic .img-circle {
    width: 180px; 
    height: 180px;

}

.v_index .btn-primary {

}

.v_index div.icon-holder{
  width: 180px;
}
