
.v_index h1 {
  color: white;
}

.v_index body {
    background-color: white;
    padding-top: 70px;
  
}

.v_index .dropdownbox_des {
	text-align: center;
}

.v_index .dropdownbarbox {
	text-align: center;
	background-color: white;
	padding-top: 15px;	
}

.v_index .sidebar_plus_volunteers{
	margin-right: 30px;
	margin-left: 30px ;
}


.v_index .sidebar {
 //background-color: white;
 //padding-left: 50px;
 //padding-top: 30px;	
 //padding-bottom: 30px;	
 //border-right: 1px solid #d3d3d3;
  
}

.v_index .search_result {
	text-align: center;
	padding-top: 20px;	
	padding-bottom: 30px;	
}


.v_index .volunteers {
    background-color: blue;}

/* h1 { padding-top: 10px; }
h2 { padding-top: 10px; }*/

.v_index .one_volunteer {
	 margin-top: 50px;
	 border: 1px solid #d3d3d3;
   border-radius: 25px; 
   padding: 15px 15px 15px 15px;
    background-color: red;
}


.v_index .volunteer_pic img {
    width: 180px; 
    height: 180px;
    border-radius: 20px;  
}