
.profile .body{
  margin-top: 20%;
  padding-top: 70px;
}

.profile{
   
  
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(/assets/volunteer-bg/shoes-bg3.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
 
}


.profile, p, h1, h2, h3, h4 {

  font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;

}

.profile h1 {
  color: white;
  padding: 0px;

}

.cal-form{
  
  margin: 10px;
  background-color: #F5F5F5;
  
  .cal-form-partial{
    margin: 10px;
  }
  
}

.cal{
  
  margin-bottom: 40px;
  
}

.fc-header-title{
  
  text-align: center;
  margin-botton: 10px;
}

.fc-button{
  
  margin: 5px;
  cursor: pointer; 
  cursor: hand;

}

.my_bio .form-group{
  width: 100%;
  height: 100%;
  
  .form-control{
    margin-bottom: 10px;
  }
  
  #volunteer_bio{
    width: 100%;
  }
  
}

