/* form tags */
.v_tags .col-sm-4 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 300;
    margin:5px;
    padding:0px;
    height: 66px;
    width: 66px;
    background-color:#f2f2f2;
    overflow:hidden;
}

.v_tags .col-sm-4:hover {
    background:#eaeaea;
}

.v_tags .col-sm-4 label {
    height: 80px;
    width: 80px;
}

.v_tags .tag-btn label span {
    height: 80px;
    width: 80px;
    text-align:center;
    padding:0px;
    display:block;
  
    /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}

.v_tags .tag-btn label input {
    position:absolute;
    top:-20px;
}

.v_tags .tag-btn input:checked + span {
    background-color:#0088cc;
    color:#fff;
}

.v_tags .submit-btn{
  margin-top: 10px;
}
/* end form tags */