// Place all the styles related to the Logins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.login{
 background-image: url(/assets/volunteer-bg/subtle-bg.png);
 

  background-attachment: fixed;
  background-repeat: repeat;
  
}