// Place all the styles related to the Logins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.p_reset {
 //background-image: url(/assets/volunteer-bg/plant-bg.jpg);
  background-attachment: fixed;
  background-size:cover;
}

.p_reset .signup_pic img {
  width: 100%;
   border-radius: 0px;
  filter: blur(1px) sepia(10%);

}

/* wrapper */
.p_reset .wrapper{
  position: relative;
  padding: 0px;
  margin: 100px 0px 0px 0px;
  
}

.p_reset .nav-tabs{
  color: white;
  width: 180px;
  border-style: none; 
  margin: 0px auto;
}

.p_reset .tab-content{
  margin: 0 auto;
}


.p_reset .nav-tabs > li.active > a, .p_reset  .nav-tabs > li.active > a:hover, .p_reset .nav-tabs > li.active > a:focus {
  background-color: #F5F5F5;
  color: black;
  border: 2px;
}

.p_reset h1 {
  font-size: 36px;
  color: white;
  text-shadow: 2px 2px #606060;
}

.p_reset > small {
  color: white;
  //text-shadow: 2px 2px #606060;
}


.p_reset label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 5px;
  font-weight: normal;
}

.p_reset div#signupform {
  padding: 0px;
}
      

.p_reset .panel {
 // padding: 20px;
}

.p_reset .panel-heading {
  padding: 20px;
}

.p_reset .panel-body {
  padding: 20px;
}


/* Top image NOT IN USE RIGHT NOW */
.p_reset .dropdownbarbox {

  height: 100px;
  width: auto;
  color: #ffffff;
  background-image: image-url('volunteer-bg/plant-bg.jpg');
  background-size:cover;
  padding: 0px;	
  margin: 0px 0px 0px 0px;
  
  h1{
    font-weight: 300;
    font-size: 80px;
  }
  h2{
    font-weight: 100;
  }
  
  /* Internet Explorer 10 */
  display:-ms-flexbox;
  -ms-flex-pack:center;
  -ms-flex-align:center;

  /* Firefox */
  display:-moz-box;
  -moz-box-pack:center;
  -moz-box-align:center;

  /* Safari, Opera, and Chrome */
  display:-webkit-box;
  -webkit-box-pack:center;
  -webkit-box-align:center;

  /* W3C */
  display:box;
  box-pack:center;
  box-align:center;
}
