// Place all the styles related to the SignUps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.signup .signup_pic img {
  width: 100%;
   border-radius: 0px;
  filter: blur(1px) sepia(10%);

}


.signup {


 background-image: url(/assets/volunteer-bg/subtle-bg.png);
 

  background-attachment: fixed;
  background-repeat: repeat;
 
}

  
.signup .btn-circle {  
    width: 70px;
    height: 70px;
    margin-top: 30px;
    padding: 7px 7px;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 40px;
    color: #fff;
    background: 0 0;
    float: right;
}