// Place all the styles related to the ngos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* create an event on the ngo profile page styling */
.split {
    margin: 10px auto 20px auto;
    background-color: #f6f6f6;
    width: 100%;
    overflow: hidden;
    height: 0px;
}

#trigger {
  margin-top: 10px;
  width: 154px;
  
}
/* end create an event on the ngo profile page styling */