// Place all the styles related to the ngos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.ngo_profile{
 
 background-image: url(/assets/volunteer-bg/subtle-bg.png);
 
  background-attachment: fixed;
  background-repeat: repeat;
 
}


/* create an event on the ngo profile page styling */
.split {
    margin: 10px auto 20px auto;
    background-color: #f6f6f6;
    width: 100%;
    overflow: hidden;
    height: 0px;
}






/* end create an event on the ngo profile page styling */


/* wall ngo */
.ngo_profile .titleBox {
    background-color:#fdfdfd;
    padding:10px;
}
.ngo_profile .titleBox label{
  color:#444;
  margin:0;
  display:inline-block;
}

.ngo_profile .commentBox {
    padding:10px;
    border-top:1px dotted #bbb;
}
.ngo_profile .commentBox .form-group:first-child, .actionBox .form-group:first-child {
    width:80%;
}
.ngo_profile .commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
    width:18%;
}
.ngo_profile .actionBox .form-group * {
    width:100%;
}
.ngo_profile .taskDescription {
    margin-top:10px 0;
}
.ngo_profile .commentList {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}
.ngo_profile .commentList li {
    margin:0;
    margin-top:10px;
}
.ngo_profile .commentList li > div {
    display:table-cell;
}
.ngo_profile .commenterImage {
    width:30px;
    margin-right:5px;
    height:100%;
    float:left;
}
.ngo_profile .commenterImage img {
    width:100%;
    border-radius:50%;
}
.ngo_profile .commentText p {
    margin:0;
}
.ngo_profile .sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}
.ngo_profile .actionBox {
    border-top:1px dotted #bbb;
    padding:10px;
}