
.v_sorted {
  background-image: url(/assets/volunteer-bg/subtle-bg.png);

  background-attachment: fixed;
  background-repeat: repeat;
  
}

.v_sorted .one_event {
	
  
   border-style: solid;
   border-width: 1px;
   border-color: #eaeaea;
   background-color: #ffffff;
} 


  