<div id="fb-root"></div>

<footer class="fbar navbar-fixed-bottom">

     <a href="#">© www.giveyoureffort.com</a>
      <a href="https://twitter.com/giveyoureffort" class="twitter-follow-button pull-right" data-show-count="false">Follow @giveyoureffort</a> 
      <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/"   data-layout="button_count"> </div>

</footer>

    