<footer class="fbar navbar-fixed-bottom">
  <small>
    <a href="#">www.giveyoureffort.com</a>
    <%= link_to image_tag("FacebookIcon.png"), 
      'http://www.facebook.com/sharer.php?u='+request.fullpath, :target => :blank %>
  </small>

</footer>

    